header {
    margin-bottom: 20px;
    background-color: transparent;
}

.navbar {

    width: 100%;
    background-color: #ffca2d;
    border: none !important;
    border-radius: 0;
}

header::after{
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* fixierte Höhe */
    height: 60px;
    line-height: 60px;
    background-color: whitesmoke;
}



