header {
    margin-bottom: 20px;
    background-color: transparent;
}

.navbar {
    width: 100%;
    background-color: #ffca2b;
}

a.nav-link:focus,
a.nav-link:hover{
    color: #e15260 !important;
    font-weight: bold;
    /* border-bottom: 3px solid #e15260; */
}

header::after{
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
}

.footer {
    position: absolute;
    bottom:0;
    background-color: #ffca2b;
    width: 100%;
    height: 80px;
    line-height: 80px;
}


