header {
    margin-bottom: 30px;
    background-color: transparent;
}

.navbar {
    width: 100%;
    background-color: lightgrey;
    border: none !important;
    border-radius: 0;
}

header::after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    background-color: darkgrey;
    margin-top: 20px;
}