/* Login */
.form-horizontal h2 {
    color: #ffc800;
    text-size: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
}

.form-horizontal h2:hover {
    color: #ff0000;
    text-size: 30px;
    font-family: "Century Gothic";
    font-weight: bold;
}

.form-control {
    min-height: 41px;
    background: #e2e2e2;
    box-shadow: none !important;
    border: transparent;
}

.form-control:focus {
    background: #e2e2e2;
    border-width: 1px;
    border-color: #ffe595;
    border-style: solid;
}

.form-horizontal {
    width: 350px;
    margin: 30px auto;
    text-align: center;
}

.form-horizontal h2 {
    margin: 10px 0 25px;
}

.form-horizontal {
    color: #000;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px;
    padding: 30px;
    margin-top: 80px;
}

.form-horizontal p > a {
    color: #ffc800;
    font-weight: bold;
}

.form-horizontal p > a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.login-form > div {
    color: #f00;
    text-decoration: none;
    font-size: 15px;
    width: 500px;
    margin: 50px auto 100px;
    text-align: center;
}



/* Registrierung */
#registerModal .modal-body > .row {
    align-items: start;
}

#registerModal {
    background-color: transparent;
}

#registerModal h4 {
    color: #ffc800;
    font-family: "Century Gothic";
    font-weight: bold;
}

#registerModal h4:hover {
    color: #ff0000;
    font-family: "Century Gothic";
    font-weight: bold;
}


/* Logout */
#logout.row {
    text-align: center;
}

#logout h1.col-sm-12 {
    color: #ffc800;
    font-weight: bold;
    font-family: "Century Gothic";
}

#logout h1.col-sm-12:hover {
    color: #ff0000;
    font-weight: bold;
    font-family: "Century Gothic";
}

#logout p > a {
    color: #ffc800;
    font-weight: bold;
}

#logout p > a:hover {
    color: #ff0000;
    font-weight: bold;
}

#logoutDiv{
    margin-top: 80px;
}

