div#main {
    margin: 0 auto;
    width: 100%;
    display: grid;
}


/* Container für Homeseite */
div#preStartContainer {
    margin: 0 auto;
    background-color: #ffeaaa;
    height: 480px;
    padding: 35px;
    border-radius: 10px;
    opacity: 0.85;
}

div#buttoncontainer {
    margin-top: 10px;
}

/* Container Rules-Seite */
div.container.text-center.py-5 {
    width: 990px;
    background-color: #ffeaaa;
    border-radius: 10px;
}


/* Tabelle von Scoreboard */
th {
    background-color: #ffeaaa;
    border: none !important;
}

tbody {
    background-color: #ffeaaa;
    opacity: 0.85;
    border: none;
    overflow: scroll !important;
}

tr:nth-child(even) {
    background-color: white;
}


/* PROBE View Heights für Footer */
div#login {

}

div#logout {

}


div#rules {
    margin: 0 auto;
    width: 100%;
}


#buttonNeuSpiel {
    width: 100%;
}