div#main {
    margin: 0 auto;
    width: 100%;
    display: grid;
}

/* Container für Homeseite */
div#preStartContainer {
    margin: 0 auto;
    background-color: #ffeaaa;
    height: 480px;
    padding: 35px;
    border-radius: 10px;
    opacity: 0.85;
}

div#buttoncontainer {
    margin-top: 10px;
}

/* Rules-Seite */
div#rules {
    margin-bottom: 30px;
    width: 100%;
}
div.container.text-center{
    padding: 20px 30px;
    width: 990px;
    background-color: #ffeaaa;
    border-radius: 10px;
}

/* Tabelle von Scoreboard */
th {
    background-color: #ffeaaa;
    border: none !important;
}

tbody {
    background-color: #ffeaaa;
    opacity: 0.85;
    border: none;
    overflow: scroll !important;
}

tr:nth-child(even) {
    background-color: white;
}

a#buttonNeuSpiel {
    width: 100%;
}

tr#zeile:hover{
    color: white;
    background-color: #e15260;
}